// Place all the styles related to the brackets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "foundation";

$row-width: 100%;
$column-gutter: rem-calc(0);
$total-columns: 12 ;

.region {
  @include grid-row
}

.rounnds, .bracket {
  @include grid-row
}
.round {
  @include grid-column( $columns: 3) 
}
$teamaHeight: 18px;  
$teambHeight: 16px;
$matchupMargin: 5px;
.team {
  position: relative;
  height: $teamaHeight;
}

.matchup {
  margin-bottom: $matchupMargin;

  .team select{
    position: absolute;
    bottom: 0;
    height: $teamaHeight;
    margin-bottom: 2px;

  }
}
$rounds: 5;

@for $j from 0 through $rounds {
  $i: $rounds - $j;
  .round-#{$i} {
    padding-top: ($teamaHeight ) * pow(2, $j ) / 2;


    .matchup:nth-child(n+1) {
      margin-top: ($matchupMargin ) * pow(2, $j ) + ($teamaHeight ) * (pow(2, $j ) - 1)  ;
      .team-b {
        height: ($teamaHeight ) * pow(2, $j ) + ($matchupMargin ) * pow(2, $j ); 
      }
    }
    .matchup:nth-child(1) {
      margin-top: 0;
    }
  }
}
.side, .final-four {
    @include grid-column( $columns: 12 ) 
  }

@media #{$large-up} { 
  .side {
     @include grid-column( $columns: 4 ) 
  }
  .side-0 {
       @include grid-column( $columns: 4, $pull: 4 ) 
    }
  .final-four  {
    @include grid-column( $columns: 4, $push: 4 ) 
  }
  .final {
    @include grid-column( $columns: 6) 
  }

  .round-0 {
    .team-c {
      margin: 15%;
    }
    .team-a{
      margin-right: 40%;
    }
    .team-d{
      margin-left: 40%;
    }
  }
  .round-1:nth-child(3) { 
    .team-b {
      border-right: none;
      border-left: solid 1px;
    }
  }

  .side:nth-child(3) {
    .team-b {
      border-right: none;
      border-left: solid 1px;
    }

    .round-5 {
      @include grid-column( $columns: 3, $push: 8 ) 
    }
    .round-5 {
      @include grid-column( $columns: 3, $push: 9 ) 
    }
    .round-4 {
      @include grid-column( $columns: 3, $push: 3 ) 
    }
    .round-3 {
      @include grid-column( $columns: 3, $pull: 3 ) 
    }
    .round-2 {
      @include grid-column( $columns: 3, $pull: 9 ) 
    }
  }
}

.team {
	border-bottom: solid 1px;
}
.team-b {
	border-right: solid 1px;
}
